<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Auth0</key>
	<dict>
		<key>ClientId</key>
		<string>858sIkSBq0yeFfDmqerVkQPbnx8cTozn</string>
		<key>Domain</key>
		<string>dev-4wwmbpwyfz45o3xa.us.auth0.com</string>
	</dict>
    <key>LSApplicationQueriesSchemes</key>
    <array>
        <string>com.auth0</string>
        <string>auth</string>
        <string>http</string>
        <string>https</string>
    </array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Auth0</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.dauzein.StarNews</string>
			</array>
		</dict>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
